
	<div class="preview-container">
		<h3><%= business.get('name') %></h3>

		<p>Rated <%= business.get('average_review') %> out of 5, with <%= business.get('num_reviews') %> total reviews</p>

		<p>Price: <% for(var i = 0; i < business.get('price'); i++) { %>
		 <%= "$" %>
		<% }; %></p>

		<a href="#/business/<%= business.id %>"><span class="link-span preview-link"></span></a>
	</div>
