<h3>Edit your review for <%= business_name %>?</h3>
<form class="edit-review" role="form">
  <input type="hidden"
         name="review[business_id]"
         value="<%= review.get('business_id') %>">

  <input type="hidden"
         name="review[id]"
         value="<%= review.id %>">

  <div class="form-group">
    <label for="review-stars">Rating</label>
    <input id="review-stars" type="number" name="review[stars]" value=<%= review.get('stars') %>>
  </div>

  <div class="form-group">
    <label for="review-content">Your thoughts</label>
    <textarea id="review-content" name="review[content]"><%= review.get('content') %></textarea>
  </div>

  <div class="form-group">
    <label>
    Go again?

    <% if(review.get('go_again')) { %>

    <input type="radio" name="review[go_again]" value="true" checked>Yes
    <input type="radio" name="review[go_again]" value="false">No

    <% } else { %>

    <input type="radio" name="review[go_again]" value="true">Yes
    <input type="radio" name="review[go_again]" value="false" checked>No

    <% } %>
    </label>
  </div>
</form>