<li class="review text-center">
	<% if(review.get('business')) { %>
	  <h4><a href="#/user/<%= review.get('user')['id'] %>"><%= review.get('user')['username'] %></a> wrote a review for <a href="#/business/<%= review.get('business').id %>"><%= review.get('business')['name'] %></a></h4>
	  <p>Updated at: <%= (new Date(review.get('updated_at'))).toDateString() %></p>

		<% if(review.get('stars') > 4.5) { %>
			<img class="star-review-image" src="/assets/5stars.png">
		<% } else if (review.get('stars') > 3.5) { %>
			<img class="star-review-image" src="/assets/4stars.png">
		<% } else if (review.get('stars') > 2.5) { %>
			<img class="star-review-image" src="/assets/3stars.png">
		<% } else if (review.get('stars') > 1.5) { %>
			<img class="star-review-image" src="/assets/2stars.png">
		<% } else { %>
			<img class="star-review-image" src="/assets/1star.png">
		<% } %>

	  <p>Content: <%= review.get('content') %></p>
	  <p>Go again? <b><%= review.get('go_again') ? "Yes" : "No" %></b></p>
  <% } %>
</li>