

	<div class="business-map-photo-list">
		<% if(business.photos().length) { %>
			<img class="bm-header-photos" src="<%= business.photos().at(business.photos().length - 1).get('fp_url') %>">
		<% } else { %>
			<img class="bm-header-photos" src="/assets/building-avatar.gif">
		<% } %>
	</div>
	
	<h3><a href="#/business/<%= business.id %>"><%= business.get('name') %></a></h3>

	<div class="bb-sub">
		<p><% for(var i = 0; i < business.get('price'); i++) { %>
		 <%= "$" %>
		<% }; %> — <a href="#/cat/<%= business.get('b_type').replace(/ /g,'') %>"><%= business.get('b_type') %></a></p>



		<% if(business.get('average_review')) { %>
			<% if(business.get('average_review') > 4.5) { %>
				<img class="star-review-image" src="/assets/5stars.png">
			<% } else if (business.get('average_review') > 3.5) { %>
				<img class="star-review-image" src="/assets/4stars.png">
			<% } else if (business.get('average_review') > 2.5) { %>
				<img class="star-review-image" src="/assets/3stars.png">
			<% } else if (business.get('average_review') > 1.5) { %>
				<img class="star-review-image" src="/assets/2stars.png">
			<% } else { %>
				<img class="star-review-image" src="/assets/1star.png">
			<% } %>

			<p><%= business.get('num_reviews') %> reviews</p>



			<% } else { %>
				<p>No reviews!</p>
			<% } %>
	</div>

