
	<h3><a href="#/business/<%= business.id %>"><%= business.get('name') %></a></h3>

	<p><a href="#/cat/<%= business.get('b_type').replace(/ /g,'') %>"><%= business.get('b_type') %></a></p>

	<p>Price: <% for(var i = 0; i < business.get('price'); i++) { %>
	 <%= "$" %>
	<% }; %></p>

	<p>Average Review: <% if(business.get('average_review')) { %>
		<%= business.get('average_review') %>
		<% } else { %>
			No reviews!
		<% } %>
		</p>
