<div class="categories row">
  <% var categories = ["Bars & Nightlife", "Restaurants", "Coffee & Tea", "Arts & Entertainment", "Shopping", "Hotels & Travel", "Beauty & Spas", "Bakeries", "Food Carts", "Gyms", "Health & Medical", "Home Services"] %>

  <% categories.forEach(function(category) { %>
    <div class="category-button col-xs-3">
      <a href="#/cat/<%= category.replace(/ /g,'') %>"><span class="link-span"></span></a>
      <p class="category-button-label"><%= category %></p>
    </div>
  <% }); %>

</div>
<div class="text-center">
  <a href="#/all">All Businesses</a>
</div>

<div class="recent-activity">
  <h2 class="text-center">Recent Reviews</h2>
  <ul>
    <% reviews.each(function(review) { %>
      <li class="review">
        <p>Business: <%= review.get('business_id') %></p>
        <p>User: <%= review.get('user_id') %></p>
        <p>Stars: <%= review.get('stars') %></p>
        <p>Go again: <%= review.get('go_again') %></p>
        <p>Content: <%= review.get('content') %></p>
        <p>Updated at: <%= review.get('updated_at') %></p>
      </li>
    <% }); %>
  </ul>
</div>