<div class="categories row">
	<div class="category-button col-xs-3">
    <a href="#/cat/Restaurants"><span class="link-span"></span></a>
    <p class="category-button-label">Restaurants</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Bars&Nightlife"><span class="link-span"></span></a>
    <p class="category-button-label">Bars & Nightlife</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Coffee&Tea"><span class="link-span"></span></a>
    <p class="category-button-label">Coffee & Tea</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Arts&Entertainment"><span class="link-span"></span></a>
    <p class="category-button-label">Arts & Entertain- ment</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Shopping"><span class="link-span"></span></a>
    <p class="category-button-label">Shopping</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Hotels&Travel"><span class="link-span"></span></a>
    <p class="category-button-label">Hotels & Travel</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Beauty&Spas"><span class="link-span"></span></a>
    <p class="category-button-label">Beauty & Spas</p>
  </div>
	<div class="category-button col-xs-3">
    <a href="#/cat/Bakeries"><span class="link-span"></span></a>
    <p class="category-button-label">Bakeries</p>
  </div>
  <div class="category-button col-xs-3">
    <a href="#/cat/FoodCarts"><span class="link-span"></span></a>
    <p class="category-button-label">Food Carts</p>
  </div>
  <div class="category-button col-xs-3">
    <a href="#/cat/Gyms"><span class="link-span"></span></a>
    <p class="category-button-label">Gyms</p>
  </div>
  <div class="category-button col-xs-3">
    <a href="#/cat/Health&Medical"><span class="link-span"></span></a>
    <p class="category-button-label">Health & Medical</p>
  </div>
  <div class="category-button col-xs-3">
    <a href="#/cat/HomeServices"><span class="link-span"></span></a>
    <p class="category-button-label">Home Services</p>
  </div>
</div>

<div class="text-center">
  <a href="#/all">All Businesses</a>
</div>

<div class="recent-activity">
  <h2 class="text-center">Recent Reviews</h2>
  <ul>
    <% reviews.each(function(review) { %>
      <li class="review">
        <p>Business: <%= review.get('business_id') %></p>
        <p>User: <%= review.get('user_id') %></p>
        <p>Stars: <%= review.get('stars') %></p>
        <p>Go again: <%= review.get('go_again') %></p>
        <p>Content: <%= review.get('content') %></p>
        <p>Updated at: <%= review.get('updated_at') %></p>
      </li>
    <% }); %>
  </ul>
</div>