<li class="review">
  <h4><%= review.get('user')['username'] %> wrote a review for <%= review.get('business')['name'] %></h4>
  <p>Updated at: <%= review.get('updated_at') %></p>
  <p>Stars: <%= review.get('stars') %> Go again: <b><%= review.get('go_again') ? "Yes" : "No" %></b></p>
  <p>Content: <%= review.get('content') %></p>
</li>