<li class="review">
  <p>Business: <%= review.get('business_id') %></p>
  <p>User: <%= review.get('user_id') %></p>
  <p>Stars: <%= review.get('stars') %></p>
  <p>Go again: <%= review.get('go_again') %></p>
  <p>Content: <%= review.get('content') %></p>
  <p>Updated at: <%= review.get('updated_at') %></p>
</li>